{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <div class="form-card auth-card">
            <h1>Sign in</h1>

            <p class="page-subtitle">
                Sign in to continue to Issue Tracker.
            </p>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                {% if next %}
                    <input
                        type="hidden"
                        name="next"
                        value="{{ next }}"
                    >
                {% endif %}

                <button
                    class="button button--primary"
                    type="submit"
                >
                    Login
                </button>
            </form>
        </div>
    </div>
{% endblock %}