{% extends "base.html" %}

{% block title %}
    {% if workspace %}
        Edit Workspace
    {% else %}
        Create Workspace
    {% endif %}
{% endblock %}

{% block content %}
    {% if workspace %}
        <h1>Edit Workspace</h1>
    {% else %}
        <h1>Create Workspace</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">
            {% if workspace %}
                Save
            {% else %}
                Create
            {% endif %}
        </button>
    </form>
{% endblock %}